{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h2>Стек технологий проекта</h2>
   
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3.7
      </li>
      <li class="list-group-item">
        Django 3.2
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        Unittest
      </li>
      <li class="list-group-item">
        SQLite3
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>А еще пот,кровь и бессонные ночи!</p>
  </article>
</div>
{% endblock %}
